@font-face {
    font-family: "Open Sans";
    font-style: normal;
    src:url(/fonts/web/opensans.woff2) format(woff2),
        url(/fonts/web/opensans.woff) format(woff);
}
@font-face{
    font-family: "Gilroy - Extra Bold";
    font-size: normal;
    src: url(/fonts/web/gilroyextrabold.woff2) format(woff2),
         url(./fonts/web/gilroyextrabold.woff) format(woff)
}
.padding{
    padding: 20px 140px 0px 140px;
    max-width: 1160px;
    margin: 0 auto;
}
.header-index{
    background: linear-gradient(
        #ffffff 20px,
        #f0c52e 20px);
        height: 319px;
}
.logo-index{
    margin-left: 60px;
}
.logo-index:hover{
    margin-left: 60px;
    opacity: 0.6;
}
.logo-index:active{
    margin-left: 60px;
    opacity: 0.3;
}
.navigation{
    display: flex;
    align-items: center;
    margin-left: 65px;
    margin-top: 30px;
    font-family: "Open Sans";
    height: 20px;
}
.search{
    width: 90%;
    display: flex;
    align-items: center;
}
.form-index{
    display: flex;
    align-items: center; 
    margin-top: 0px;
}
.input-search{
    width: 128px;
    height: 15px;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: #f0c52e;
    font-size: 15px;
    letter-spacing: 0.15px;
    opacity: 0.3;
}
.input-search:hover{
    width: 128px;
    height: 15px;
    margin-left: 15px;
    padding: 0px;
    border: none;
    outline: none;
    background-color:#f0c52e;
    letter-spacing: 0.15px;
    opacity: 0.6;
}
.input-button{
    width: 85px;
    height: 45px;
    background-color: #f0c52e;
    border: 2px solid #000000;
    margin: 0px 0px 0px 195px;
    display: none;
    padding: 0px;
}
.input-button:hover{
    background-color: #000000;
    color: #ffffff;
}
.input-button:active{
    background-color: #000000;
    color: gray;
}
.input-button::after{
    content: "";
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 403px;
    display: flex;
    position: absolute;
    left: 435px;
    top: 128px;
}   
.input-search:focus + .input-button{
    display: flex;
    top: 130px;
    align-items: center;
    justify-content: center;
}
.link-menu{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}
.menu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.menu:hover{
    opacity: 0.6; 
}
.menu:active{
    opacity: 0.3;
}
.text-menu{
    margin: 0px 0px 0px 14px;
    font-size: 15px;
    letter-spacing: 0.15px;
}
.compare{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
}
.compare:hover{
    opacity: 0.6;
}
.compare:active{
    opacity: 0.3;
}
.text-compare{
    font-size: 15px;
    letter-spacing: 0.15px;
    margin: 0px 0px 0px 10px;
}
.bucket{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
}
.text-bucket{
    font-size: 15px;
    letter-spacing: 0.15px;
    margin: 0px 0px 0px 12px;
}
.bucket:hover{
    opacity: 0.6;
}
.bucket:active{
    opacity: 0.3;
}
.catalog{
    margin-left: 60px;
    margin-top: 45px;
}
.trait{
    width: 100px;
    height: 7px;
    background-color: white;
    position: absolute;
    top: 275px;
    left: 972px;
}
.catalog-novigation{
    display: flex;
}
.goods{
    display: flex;
    position: relative;
}
.goods:hover{
    opacity: 0.6;
}
.goods:hover + .catalog-menu{
    display: flex;
}
.goods:active .link-goods{
    opacity: 0.3;
}
.link-goods{
    text-decoration: none;
    color: #000000;
}
.goods-plus{
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    opacity: 0.3;
}
.goods-plus::after{
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: #000000;
}
.goods-plus::before{
    content: '';
    display: block;
    width: 2px;
    height: 16px;
    background-color: #000000;
    position: absolute;
}
.h1-catalog{
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    letter-spacing: 3.6px;
    margin: 0px;
}
.delivery-guarantee{
    display: flex;
    margin-left: 294px;
}
.link-delivery{
    text-decoration: none;
    color: #000000;
}
.delivery:hover .link-delivery{
    opacity: 0.6;
}
.delivery:active .link-delivery{
    opacity: 0.3;
}
.guarantee{
    margin-left: 35px;
}
.link-guarantee{
    text-decoration: none;
    color: #000000;
}
.guarantee:hover .link-guarantee{
    opacity: 0.6;
}
.guarantee:active .link-guarantee{
    opacity: 0.3;
}
.contact{
    margin-left: 108px;
}
.link-contact{
    text-decoration: none;
    color: #000000;
}
.contact:hover .link-contact{
    opacity: 0.6;
}
.contact:active .link-contact{
    opacity: 0.3;
}
.catalog-menu{
    position: absolute;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-top: 40px;
    display: none;
    background-color: #f0c52e; 
    width: 1160px;
    top: 184px;
    left: 372px;
    margin-top: 0;
    height: 163px;
    z-index: 10;
}
.catalog-menu:hover{
    display: flex;
}
.ul-menu{
    list-style-type: none;
    padding: 22px 0 0 60px;
    margin: 0px;
}
.ul-menu-two{
    list-style-type: none;
    padding: 22px 0 0 0;
    margin: 0px 0px 0px 52px;
}
.ul-menu-three{
    list-style-type: none;
    padding: 22px 0 0 0;
    margin: 0px 0px 0px 70px;
}
.link-li-menu{
    text-decoration: none;
    color: #000000;
}
.catalog-menu{
    margin: 0;
}
.li-menu:hover{
    opacity: 0.6;
}
.li-menu:active{
    opacity: 0.3;
}
.slide{
    position: relative;
}
.slide-first{
    position: relative;
    top: -110px;
    left: 90px;
    display: flex;
    z-index: 1;
    display: none;
}
.slide-second{
    position: relative;
    top: -110px;
    left: 90px;
    display: flex;
    z-index: 1;
}
.slide-third{
    position: relative;
    top: -50px;
    left: 31px;
    display: flex;
    z-index: 1;
    height: 500px;
    display: none;
}
.slide-first-text{
    padding-left: 125px;
    padding-top: 80px;
}
.slide-second-text{
    padding-left: 145px;
    padding-top: 80px;
}
.slide-third-text{
    position: relative;
    z-index: 1;
    padding-left: 45px;
    padding-top: 20px;
}
.h2{
    font-family: "Gilroy - Extra Bold";
    font-size: 48px;
    margin: 0px;
    line-height: 56px;
}
.text-slide-first{
    font-family: "Open Sans";
    padding-top: 18px;
    margin: 0 0 50px 0;
    font-size: 15px;
    line-height: 30px;
}
.link-slide-first{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 30px;
    text-decoration: none;
    background: linear-gradient(
        white 11px,
        #f0c52e 1px,
        #f0c52e 18px,
        white 18px);
}
.link-slide-first:hover{
    background: #f0c52e;
}
.text-link-slide-first{
    font-family: "Gilroy - Extra Bold";
    font-size: 18px;
    letter-spacing: 3.5px;
    color: #000000;
    margin: 0px;
    line-height: 24px;
}
.text-link-slide-first:active{
    opacity: 0.3;
}
.text-slide{
    display: flex;
}
.text-slide-info{
    margin-right: 75px;
    margin-top: 55px;
    
}
.info-one{
    margin: 0px;
    padding-bottom: 9px;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 300;
}
.info-two{
    margin: 0px;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
}
.img{
    padding-left: 20px;
}
.img-3{
    padding-left: 0px;
}
.slide-first-01{
    position: absolute;
    left: 840px;
    top: -40px;
}
.slide-first-02{
    position: absolute;
    left: 820px;
    top: -40px;
}
.slide-first-03{
    position: relative;
    z-index: -1;
    left: 305px;
    top: -515px;
}
.text01{
    font-family: "Gilroy - Extra Bold";
    font-size: 179px;
    margin: 0px;
    color: white;
}
.img-main{
    display: flex;
    margin-bottom: 68px;
    margin-top: -10px;
}
.img-main-1{
    margin-right: 40px;
}
.link-img-main-1{
    display: flex;
    width: 160px;
    height: 160px;
    background-color: #f0c52e;
    align-items: center;
    justify-content: center;
    margin-bottom: 33px;
    opacity: 0.5;
}
.link-img-main-1:hover{
    opacity: 1;
}
.link-new{
    text-decoration: none;
}
.text-img-main-1{
    font-family: "Gilroy - Extra Bold";
    text-decoration: none;
    letter-spacing: 0.2px;
    font-size: 18px;
    color: #000000;
}
.img-activ:active{
    opacity: 0.3;
}
.delivery-grey{
    display: flex;
    background: linear-gradient(
        white 0px,
        white 100px,
        #e5e5e5 100px);
    margin: 0 -140px 0 -140px;
    padding: 0 140px 0 140px;
    height: 387px;
}
.border{
    border-right: 7px solid black;
    height: 317px;
}
.delivery-border{
    display: flex;
    width: 278px;
    height: 40px;
    padding-top: 80px;
}
.link-delivery-border{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: "Gilroy - Extra Bold";
    letter-spacing: 2.15px;
    font-size: 20px;
    width: 160px;
    background: linear-gradient(
        #e5e5e5 17px,
        #f0c52e 17px,
        #f0c52e 24px,
        #e5e5e5 24px);
    justify-content: center;
    align-items: center;
}
.link-delivery-border-1{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: "Gilroy - Extra Bold";
    letter-spacing: 2.15px;
    font-size: 20px;
    width: 160px;
    background: linear-gradient(
        white 17px,
        #f0c52e 17px,
        #f0c52e 24px,
        #e5e5e5 24px);
    justify-content: center;
    align-items: center;
}
.link-delivery-border:hover,.link-delivery-border-1:hover{
    background: #f0c52e;
}
.link-delivery-border:active,.link-delivery-border-1:active{
    width: 278px;
    background: #000000;
    color: #f0c52e;
    justify-content: flex-start;
    padding-left: 20px;
}
.guarantee-border{
    display: flex;
    width: 278px;
    height: 40px;
    padding-top: 23px;
}
.credit{
    display: flex;
    width: 278px;
    height: 40px;
    padding: 23px 0px 71px 0px;
}
.text-main{
    padding: 67px 0px 0px 115px;
}
.h3{
    font-family: "Gilroy - Extra Bold";
    font-size: 47px;
    margin: 0 0 20px 0;
}
.text-main{
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
}
.img-main-2{
    margin: 82px 0px 0px 129px;
}
.company{
    display: flex;
    margin-top: 94px;
}
.img-company{
    margin-right: 40px;
    filter: grayscale(100%);
    opacity: 0.3;
}
.img-company:hover{
    filter: grayscale(0%);
    opacity: 1;
}
.contact-down{
    display: flex;
}
.black-line{
    width: 80px;
    height: 7px;
    background-color: #000000;
    margin-bottom: 40px;
}
.about-us{
    font-family: "Gilroy - Extra Bold";
    font-size: 47px;
    margin: 0px;
    padding-bottom: 35px;
}
.about-us::before{
    display: flex;
    content: "";
    width: 80px;
    height: 7px;
    border: solid 1px #000000;;
    background: #000000;
    margin: 83px 0px 41px 0px;
}
.text-contact{
    font-family: "Open Sans - Light";
    line-height: 30px;
    margin: 0px;
    padding-bottom: 30px;
}
.text-contact-two{
    font-family: "Open Sans - Light";
    line-height: 30px;
    margin: 0px;
    padding-bottom: 30px;
}
.ul-bottom{
    margin-bottom: 48px;
    padding: 0px;
}
.li-bottom::before{
    display: flex;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: solid 2px #e5e5e5;;
    color: #000000;
    margin:5px 25px 0px 0px;
}
.li-bottom{
    display: flex;
    list-style-type: none;
    padding-bottom: 20px;
    font-family: "Gilroy - Extra Bold";
    color: #000000;
    font-size: 16px;
}
.button-bottom{
    display: flex;
    width: 278px;
    height: 40px;
}
.link-button-bottom{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: "Gilroy - Extra Bold";
    letter-spacing: 2.15px;
    font-size: 20px;
    width: 260px;
    background: linear-gradient(
        #ffffff 17px,
        #f0c52e 17px,
        #f0c52e 24px,
        #ffffff 24px);
    justify-content: center;
    align-items: center;
}
.link-button-bottom:hover{
    background: #f0c52e;
}
.second-contact{
    margin-left: 140px;
}
.button-bottom-two{
    display: flex;
    width: 278px;
    height: 40px;
    margin: 73px 0px 85px 0px;
}
.link-button-bottom-two{
    display: flex;
    text-decoration: none;
    color: black;
    font-family: "Gilroy - Extra Bold";
    letter-spacing: 2.15px;
    font-size: 20px;
    width: 260px;
    background: linear-gradient(
        #ffffff 17px,
        #f0c52e 17px,
        #f0c52e 24px,
        #ffffff 24px);
    justify-content: center;
    align-items: center;
}
.link-button-bottom-two:hover{
    background: #f0c52e;
}
footer{
    margin: 0 -140px 0 -140px;
    padding: 0 140px 0 140px;
    background: #464646;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.logo-index-footer{
    margin: 63px 0px 0px 0px;
}
.logo-index-footer:hover{
    opacity: 0.6;
}
.logo-index-footer:active{
    opacity: 0.3;
}
.footer-one{
    margin: 63px 0px 0px 0px;
}
.text-footer{
    font-family: "Open Sans";
    color: #ffffff;
    padding-top: 10px;
}
.text-footer::after{
    display: flex;
    content: "";
    width: 80px;
    height: 7px;
    border: solid 1px #f0c52e;;
    background: #f0c52e;
    margin: 82px 0px 79px 0px;
}
.yellow-footer{
    width: 80px;
    height: 7px;
    background: #f0c52e;
    margin: 0px 0px 79px 0px;
}
.footer-two{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 0px 61px;
}
.link-footer{
    color: #ffffff;
    text-decoration: none;
    font-family: "Gilroy - Extra Bold";
    padding-right: 28px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
}
.delivery-footer{
    margin-top: 60px;
    margin-left: 70px;
}
.link-footer:hover{
    opacity: 0.6;
}
.link-footer:active{
    opacity: 0.3;
}
.icon-footer{
    display: flex;
    padding-top: 50px;
    margin-left: 70px;
}
.img-footer{
    margin-right: 25px;
    opacity: 0.3;
}
.img-footer:hover{
    opacity: 1;
}
.img-footer:active{
    opacity: 0.1;
}
.text-footer-3{
    color: #e5e5e5;
}
.link-footer-3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Open Sans";
    margin-right: 38px;
    font-size: 15px;
    opacity: 0.7;
}
.link-footer-3-1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 15px;
    opacity: 0.7;
}
.link-footer-3:hover,.link-footer-3-1:hover{
    opacity: 1;
}
.link-footer-3-1:active,.link-footer-3:active{
    opacity: 0.3;
}
.img-footer-3{
    margin-right: 12px;
}
.div-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.telefone{
    color: #ffffff;
    font-family: "Open Sans";
    margin: 35px 0px 0px 149px;
}
.logo-y{
    margin:50px 0px 0px 300px
}
.logo-y:hover{
    opacity: 0.6;
}
.logo-y:active{
    opacity: 0.3;
}
.radio{
    position: absolute;
    width: 100px;
    height: 18px;
    left: 970px;
    top: 210px;

}
.custom-radio{
    position: absolute;
    z-index: 10;
    opacity: 0;
}
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-radio+label::after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: rgb(255, 255, 255);
  }
  /* стили для активной радиокнопки (при нажатии на неё) */
  .custom-radio:not(:disabled):active+label::after {
    background-color: rgb(83, 83, 83);
    border-color: rgb(0, 0, 0);
  }
  /* стили для радиокнопки, находящейся в состоянии checked */
  .custom-radio:checked+label::after {
    border: 2px solid rgb(0, 0, 0);
    background-image: radial-gradient(white 20%, rgb(0, 0, 0) 30%, white 40%);
  }